@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #2E7D32;
  --color-primary-light: #A5D6A7;
  --color-primary-dark: #1B5E20;
}


.bg-default {
  background-color: var(--color-primary);
}

.bg-light {
  background-color: var(--color-primary-light);
}

.primary-default {
  color: var(--color-primary);
}

.primary-light {
  color: var(--color-primary-light);
}

.primary-dark {
  color: var(--color-primary-dark);
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.dark {

  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}



html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


/*****************************************************
Auto-Scroll
*****************************************************/
/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
} */


.scroller[data-animated="true"] {
  /* overflow: hidden; */

  -webkit-mask: linear-gradient(
    90deg, 
      transparent, 
      white 5%, 
      white 90%, 
      transparent
    );
  mask: linear-gradient(
      90deg, transparent, 
      white 5%, 
      white 10%, 
      transparent
    );
}

.scroller[data-animated="true"] .inner-scroller {
  width: max-content;
  flex-wrap: nowrap;
  animation: 
    scroll 
    var(--_animation-duration, 30s) 
    var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


/*****************************************************
Login / Registration
*****************************************************/


/*****************************************************
Responsiveness
*****************************************************/

@media screen and (min-width: 320px) {
  .nav-link-default {
    color: white;
    display: grid;
    place-items: center;
  }

  .nav-link-active div {
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    color: var(--color-primary);
  }

  .nav-link-active p {
    text-align: center;
  }

}

@media screen and (min-width: 768px) {
  #desktop-navbar {
    left: 1rem;
    right: 1rem;
  }
}

@media screen and (min-width: 1024px) {

  main {
    margin-inline: calc(var(--spacing) * 8)
  }

  #desktop-navbar {
    padding-inline: calc(var(--spacing) * 4)
  }

  .nav-link-default {
    color: #656464;
  }

  .nav-link-active {
    color: #2e2e2e;
    border-bottom: var(--color-primary) solid;
    padding-inline: .5rem;
    padding-block: 0.5rem;
    border-radius: .2rem;
  }



  #about-image {
    height: 500px;
  }

  /* Dashboard Settings */
  #dash-content {
    grid-template-columns: 60% 35%;
  }

  .main-expanded {
    margin-left: 280px;
    width: calc(96.7vw - 240px);
  }

  .main-collapsed {
    margin-left: 100px;
    width: calc(97.8vw - 64px);
  }

  /* Dashboard Pop-out Image effect */
  .expanded-image{
    inset: auto 28vw 0;
    width: 10rem;
  }

  .collapsed-image{
    inset: auto 34.5vw 0;
  }

  .pop-image{
    position: relative;
  }

  /* Female Doctor in Doctor Dashboard */
  
}

@media screen and (min-width: 1400px) {

  main {
    margin-inline: calc(var(--spacing) * 30 )
  }

  #desktop-navbar {
    padding-inline: calc(var(--spacing) * 20)
  }
  
  /* Dashboard Settings */
  #dash-content {
    grid-template-columns: 70% 25%;
  }

  /* #dash-content-patients {
    grid-template-columns: 70% 25%;
  } */

  .main-expanded {
    margin-left: 260px;
    width: calc(99.8vw - 240px);
  }

  .main-collapsed {
    margin-left: 80px;
    width: calc(99.8vw - 64px);
  }

  /* Dashboard Pop-out Image effect */
  .expanded-image{
    inset: auto 30vw 0;
    width: 18vw;
  }

  .collapsed-image{
    inset: auto 35vw 0;
  }

  .pop-image{
    position: relative;
  }
}



/*****************************************************
Dashboards
*****************************************************/
/* styles in globals.css */




